div.ingredient-group:nth-child(odd) {
    float: left;
    padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
    float: left;
    padding-right: 0;
}

div.ingredient-group {
    width: 50%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

*, *:after, *:before {
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

span.validationError {
    color: red;
}

button {
    height: 40px;
    margin-top: 10px;
    color: #574838;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: medium;
}

input {
    font-family: Arial, serif;
    font-size: medium;
}

footer {
    width: 100%;
    height: 50px;
    background: #dac46e;
}

html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    color: #574838;
    /*background-repeat: space;*/
    background: #f1dc8c;
    margin: unset;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    margin: 10px 20px;
}

header {
    width: 100%;
    height: fit-content;
    background: #dac46e;
    box-shadow: 0 0 5px gray;
    display: flex;
    align-items: center;
}

.header-logo {
    height: 70px;
    margin-right: 20px;
    margin-left: 20px;
    width: 70px;
}

.header-title {
    color: #574838;
    font-size: xx-large;
    align-self: flex-end;
}

.header-text-container {
    display: flex;
}

.item {
    width: fit-content;
    height: fit-content;
    max-height: 100px;
    margin-right: 10px;
    align-self: flex-end;
    color: #574838;
    font-size: large;
    margin-bottom: 2px;
    text-decoration: none;
}

.item:first-child {
    margin-left: 10px;
}

.item:last-child {
    margin-right: 0;
}