@import "fonts.css";
@import "normalize.css";

div.ingredient-group:nth-child(odd) {
    float: left;
    padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
    float: left;
    padding-right: 0;
}

div.ingredient-group {
    width: 50%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

span.validationError {
    color: red;
}

main {
    margin-inline: 15px 15px;
    height: 100%;
}

button {
    height: 40px;
    margin-top: 10px;
    color: #574838;
}


body {
    color: #574838;
    background: #f1dc8c;
}

.status-msg {
    text-align: center;
}

