div.ingredient-group:nth-child(odd) {
    float: left;
    padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
    float: left;
    padding-right: 0;
}

div.ingredient-group {
    width: 50%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

span.validationError {
    color: red;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #dac46e;
}

body {
    background: #f6eab9;
    margin: unset;
}

header {
    width: 100%;
    height: fit-content;
    background: #dac46e;
    box-shadow: 0 0 5px gray;
    display: flex;
    align-items: center;
}

.header-logo {
    height: 70px;
    margin-right: 20px;
    margin-left: 20px;
    width: 70px;
}

.header-title {
    color: #574838;
    font-size: xx-large;
    align-self: flex-end;
    font-family: Arial, serif;
    text-decoration: none;
}

.header-text-container {
    display: flex;
}

.item {
    width: fit-content;
    height: fit-content;
    max-height: 100px;
    margin-right: 10px;
    align-self: flex-end;
    color: #574838;
    font-size: large;
    font-family: Arial, serif;
    margin-bottom: 2px;
    text-decoration: none;
}

.item:first-child {
    margin-left: 10px;
}

.item:last-child {
    margin-right: 0;
}