<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="~{fragments/general::headerfiles}"></th:block>
	<title>Taco Cloud</title>
</head>

<body>
	<div class="wrapper">
		<header th:replace="~{fragments/general::header}"></header>
		<main class="main">
			<h2>Create Your Perfect Taco</h2>
			<p>At Taco Cloud, we believe that every taco should be unique.<br>
				Our app makes it easy for you to create
				custom tacos by selecting from a wide range of ingredients and combinations.<br>
				Whether you prefer a classic Mexican taco or something completely new, you can craft your ideal taco!
			</p>
			<p>Enjoy a simple and intuitive taco creation process. Our system lets you choose ingredients, adjust
				quantities, and see the results in real-time.</p>
			<a href="/design">Start Creating Your Taco</a>
		</main>
		<footer th:replace="~{fragments/general::footer}"></footer>
	</div>
</body>
</html>