<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Taco Cloud</title>
	<th:block th:replace="~{fragments/general::headfiles}"></th:block>
</head>
<body>
	<header th:replace="~{fragments/general::header}"></header>
	<main>

		<form action="/logout" method="post">
			<h1>Do you have logout?</h1>
			<div style="display: flex">
				<input type="submit" value="Log out">
				<a href="/">Cancel</a>
			</div>
		</form>
	</main>
	<footer th:replace="~{fragments/general::footer}"></footer>
</body>
</html>